<div>
    <!-- <h1>Welcome {{currentUser.username}}</h1>
    {{currentUser}} -->
    <div class="jumbotron" ng-show="currentUser">
        <div class="row">
            <div class="col-sm-12">
                <h2>Hi! {{currentUser.name}}</h2>
                <h5>You are logged in as {{currentUser.username}}</h5>
                <br>
                <br>
                <button ui-sref="wall" type="button" class="btn btn-default">Explore beer</button>
                <br>
                <br>
                <hr>
                <!-- <button ui-sref="profileSetting" type="button" class="btn btn-primary">Update my profile</button> -->
            </div>

            <div class="col-sm-6">
                <div class="list-group">
                    <h3 class="list-group-item-heading"><i class="fa fa-check-square-o"></i> Rated:</h3>
                    <span ng-show="sampled.length==0">
                        <h5>No beer rated</h5>
                    </span>
                    <span ng-hide="sampled.length==0" class="list-group-item" ng-repeat="item in sampled">
                        <h5 class="list-group-item-text">item.beerInfo.name</h5>
                    </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="list-group">


                    <h3 class="list-group-item-heading"><i class="fa fa-square-o"></i> Wishlist:</h3>
                    <span ng-show="unsampled.length==0">
                        <h5>No beer rated</h5>
                    </span>
                    <span ng-hide="unsampled.length==0" href="#" ng-repeat="item in unsampled">
                        <h5 class="list-group-item-text">- {{item.beerInfo.name}}</h5>

                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="jumbotron" ng-hide="currentUser">
        <h1>Sign up</h1>
        <div class="panel panel-danger" ng-if="logMsg.err">
            <div class="panel-body">
                {{logMsg.err}}
            </div>
        </div>
        <form ng-submit="signUp(newUser)">
            <fieldset class="form-group">
                <label for="formGroupExampleInput">Username</label>
                <input type="text" class="form-control" required id="formGroupExampleInput" ng-model="newUser.username">
            </fieldset>
            <fieldset class="form-group">
                <label for="formGroupExampleInput2">password</label>
                <input type="password" class="form-control" required id="formGroupExampleInput2" ng-model="newUser.password" placeholder="password">
            </fieldset>
            <button type="submit" class="btn btn-primary">Sign up for free</button>
        </form>
    </div>
</div>
