<h1>Explore</h1>
<hr>
<!-- <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Serch people by name, email, or location..." ng-model="searchFilter">
      <br>
  </div> -->
<!-- <div class="col-sm-10">
    <form ng-submit="postSubmit()">
        <input type="text" class="form-control" placeholder="Item name" ng-model="post.name">
        <br>
        <input type="text" class="form-control" placeholder="Item description" ng-model="post.description">
        <br>
        <input type="text" class="form-control" placeholder="Item image" ng-model="post.image">
        <br>
        <input type="number" class="form-control" placeholder="starting price" ng-model="post.price">
        <br>
        <input type="datetime-local" min="2016-05-14" class="form-control" placeholder="Deadline" ng-model="post.deadline">
        <br>
        <button type="submit" class="btn btn-primary btn-xs">
            Post it to market
        </button>
    </form>
    <br>
</div> -->
<!-- <h4>{{(users | filter: searchFilter).length}} users found</h4> -->
<div class="colr-sm-12 text-center">
    <button type="button" class="btn btn-default" ng-click="getRandomBeer()">Pick One</button>
</div>
<div class="col-sm-2"></div>
<div ng-show="beer" class="col-sm-8">
    <hr>
    <div class="card">
        <div class="card-block">
            <h4>{{beer.name}}</h4>
            <p>{{beer.description}}</p>
            <!-- <h2>Have you tried it?</h2> -->
            <!-- <a ng-click="showratingForm = true" ng-click="" class="btn btn-success">Yes</a>
            <a ng-click="showAddWishList = true" ng-hide="rate" class="btn btn-default">No</a> -->
            <span ng-show="showratingForm" ng-hide="showAddWishList">
                <hr>
                    <form ng-submit="sampled(beer._id)">
                        <div class="form-group">
                            <h3>How is it?</h3>
                          <select class="form-control" ng-model="rate" required>
                              <option value="1">really bad</option>
                              <option value="2">bad</option>
                              <option value="3">okay</option>
                              <option value="4">good</option>
                              <option value="5">really good</option>
                              <option value="0">No opnion</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="comment">Comment:</label>
                          <textarea class="form-control" rows="5" ng-model="comment" ></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
            </span>
            <!-- <span ng-show="showAddWishList" ng-hide="showAddWishList"> -->
                <hr>
                <h3>Do you want to add to wishlist?</h3>
                <a  ng-click="unsampled(beer._id)" ng-hide="rate"class="btn btn-default">No! I am not interested</a>
                <a  ng-click="unsampled(beer._id)" ng-hide="rate"class="btn btn-primary">Yes! Add to my wishlist</a>
            <!-- </span> -->
        </div>
    </div>
</div>
<div class="col-sm-2"></div>
